@use "../../../scss/placeholders";
@import "../../../scss/variables";

.btnPrimary {
  @extend %button;

}
@media screen and (max-width: "1200px") {
  .callUsBtn {
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-radius: 0;
    font-size: $mediumlarge;
    padding: $btnPaddingLarge;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    @media screen and ($tablet) {
      width: auto;
      padding: $btnPaddingLarge;
      left: 50vw;
      border-radius: $borderRadius $borderRadius 0 0;
      transform: translate(-50%);
    }
  }
}
