@import "../../../scss/variables";

.nav {
    @media screen and (max-width: "1200px") {
        display: none;
    }
    display: flex;
    gap: $space3;
    text-transform: uppercase;
    a {
        font-weight: 500;
        &:hover {
            color: $colorPrimary;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: $space2;
        }
    }
}
.navOpen {
    display: flex;
    flex-direction: column;
    gap: $space6;
    justify-content: center;
    background-color: $colorPrimary;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: $large;
}