@import "../../../scss/variables";

.footer {
    background-color: $colorPrimary;
    color: white;
    position: relative;
    bottom: 0;
    z-index: 0;
    padding: $space6 0;
    margin: 0;
    padding-bottom: calc($space6 * 3);
}
