@import "../../../scss/variables";
.intro {
    display: none;
    font-size: $medium;
    line-height: 160%;
    .link {
        display: block;
        margin-top: $space3;
        &:hover {
            // color: $colorPrimary;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
} 
.open {
        display: block;
    }
