@import "../../../scss/variables";
.accordion {
  @media screen and ($desktopS) {
    width: 300px;
  }

  .accordionItem {
    width: 100%;
  }
}

.intro {
  // display: none;
  font-size: $medium;
  line-height: 160%;
  // display: block;
  // visibility: hidden;
  // height: 0;
  overflow: hidden;
  .link {
    display: block;
    margin-top: $space3;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
.open {
  // display: block;
  // height: auto;
  // visibility: visible;
  // overflow: hidden;
}
