@use "../../../scss/placeholders";
@import "../../../scss/variables";

.btnPrimary {
  @extend %button;

}
@media screen and (max-width: "1200px") {
  .callUsBtn {
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-radius: 0;
    font-size: $mediumlarge;
    padding: $btnPaddingLarge;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    @media screen and ($tablet) {
      width: auto;
      padding: $btnPaddingLarge;
      left: 50vw;
      border-radius: $borderRadius $borderRadius 0 0;
      transform: translate(-50%);
    }
  }
}
.squareArrowLink {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: $borderRadius 0 $borderRadius 0;
  display: block;
  width: 44px;
  height: 44px;
  background-color: $colorPrimary;
  border-color: white;
}
.textArrowLink {
  border-color: $colorNeutralDark;
}

  .arrow {
  display: block;
  position: absolute;
  right: 18px;
  bottom: 16px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-top-width: 2px;
  border-top-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  border-color: inherit;
}