@import "../../scss/variables";

.nav {
    @media screen and (max-width: "1099px") {
        display: none;
    }
    display: flex;
    gap: $space3;
    text-transform: uppercase;
    a {
        font-weight: 500;
        &:hover {
            color: $colorPrimary;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: $space2;
        }
    }
}