@import "../../../scss/variables";
.wrapper,
.wrapperFull {
  display: flex;
  width: 100%;
  overflow: hidden;
  .innerWrapper {
    display: inline-flex;
    gap: $space3;
  }
}
.wrapper {
  @media screen and ($desktopS) {
    max-width: 484px;
    // -webkit-mask-image: linear-gradient(
    //   90deg,
    //   rgba(0, 0, 0, 1) 95%,
    //   transparent
    // );
    // mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 95%, transparent);
  }
}
