@import "../../../scss/variables";

.buttonWhite {
  display: block;
  background-color: $colorWhiteTransparent90;
  border-radius: $borderRadius;
  color: $colorNeutralDark;
  width: 140px;
  height: 140px;
  padding: $space3;
  font-size: $mediumlarge;
  font-weight: 600;
  line-height: 150%;
  position: relative;
  .link {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: $borderRadius 0 $borderRadius 0;
    display: block;
    width: 44px;
    height: 44px;
    background-color: $colorPrimary;
  }
  .arrow {
    display: block;
    position: absolute;
    right: 18px;
    bottom: 16px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-top: 2px solid white;
    border-right: 2px solid white;
  }
}
