@use "./placeholders";
@import "./reset";
@import "./variables";

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  font-family: $montserrat;
  color: $colorNeutralDark;
  font-size: $medium;
  background-color: $colorPrimaryTransparent;
  // padding-top: 110px;
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:active {
      outline-width: 0;
    }
  }
  h1 {
    font-size: $extraLarge;
    margin-bottom: $space5;
  }
  h2 {
    font-size: $extraLarge;
    margin-bottom: $space5;
  }
  h3 {
    font-size: $mediumlarge;
    margin-bottom: $space3;
  }
  h4 {
    font-size: $extraLarge;
    margin-bottom: $space5;
  }
  p {
    font-size: $mediumlarge;
    line-height: 160%;
    margin-bottom: $space3;
  }
  button[type="submit"] {
    @extend %button;
    border: none;
    min-height: 46px;
    margin-top: $space4;
  }
  small {
    display: block;
    margin-top: 5rem;
  }
section {
  padding: calc($space6 * 2) 0;
  &.topSection {
    padding-top: calc($space6 * 2 + 110px)
  }
}
  .container {
    width: 90%;
    margin: 0 auto;
    padding: $space3 0;
    @media screen and ($tablet) {
      width: 80%;
    }
    @media screen and ($desktop) {
      max-width: $sizeContent;
    }
  }
  .dflex50 {
    @media screen and ($desktopS) {
      display: flex;
      gap: calc($space6 * 2);
    }
  }
  .icon {
    position: relative;
    top: -2px;
    // left: -$space2;
    margin-right: $space3;
    width: 1.2rem;
  }
}
