@use "./placeholders";
@import "./reset";
@import "./variables";


@font-face {
  font-family: 'Tahu';
  src: url('../static/fonts/tahu-webfont.woff2') format('woff2'),
       url('../static/fonts/tahu-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
:root {
  scroll-behavior: auto !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: $montserrat;
  color: $colorNeutralDark;
  font-size: $small;
  background-color: $colorPrimaryTransparent;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:active {
      outline-width: 0;
    }
  }
  h1 {
    font-size: $extraLarge;
    margin-bottom: $space5;
    position: relative;
    line-height: 150%;
    span.decor {
      font-family: $tahu;
      position: absolute;
      font-size: calc($extraLarge * 4);
      top: 3rem;
      left: 3rem;
    }
  }
  h2 {
    font-size: $large;
    margin-bottom: $space5;
    position: relative;
    line-height: 150%;
    span.decor {
      font-family: $tahu;
      position: absolute;
      font-size: $xxLarge;
      top: 3rem;
      left: 3rem;
    }
  }
  h3 {
    font-size: $large;
    line-height: 150%;
    margin-bottom: $space5;
  }
  h4 {
    font-size: $large;
    margin-bottom: $space5;
  }
  p {
    font-size: $medium;
    line-height: 160%;
    margin-bottom: $space3;
    color:black;
    &.narrow {
      max-width: 24rem;
    }
  }
  button[type="submit"] {
    @extend %button;
    border: none;
    min-height: 46px;
    margin-top: $space4;
    &:hover {
      background-color: $colorPrimary;
    }
  }

section {
  padding: calc($space6 * 2) 0;
  &.topSection {
    padding-top: calc($space6 * 2 + 110px)
  }
}
  .container {
    width: 90%;
    margin: 0 auto;
    padding: $space3 0;
    @media screen and ($tablet) {
      width: 80%;
    }
    @media screen and ($desktop) {
      max-width: $sizeContent;
    }
  }
  .dflex50 {
    @media screen and ($desktopS) {
      display: flex;
      gap: calc($space6 * 2);
    }
  }
  .icon {
    position: relative;
    top: -2px;
    margin-right: $space3;
    width: 1.2rem;
  }
  .locator {
    width: 3rem;
    position: relative;
    bottom: 8px;
  }
}
