@import "./reset";
@import "./variables";

* {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: $montserrat;
  color: $colorNeutralDark;
  font-size: $medium;
  background-color: $colorPrimaryTransparent;
  padding-top: calc(85px + $space6 * 2);
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:active {
      outline-width: 0;
    }
  }
h1 {
  font-size: $extraLarge;
  margin-bottom: calc($space6 * 2);
}
h2 {
  font-size: $large;
  margin-bottom: $space4;
}
h3 {
  font-size: $mediumlarge;
  margin-bottom: $space3;
}
h4 {
  font-size: $extraLarge;
  margin-bottom: $space5;
}
small {
  display: block;
  margin-top: 5rem;
}
  .container {
    width: 90%;
    margin: 0 auto;
    padding: $space3 0;
    @media screen and ($tablet) {
      width: 80%;
    }
    @media screen and ($desktop) {
      max-width: $sizeContent;
    }
  }
  
.icon {
  position: relative;
  top: -2px;
  // left: -$space2;  
  margin-right: $space2;
}
}
