@use "./variables" as *;
%button {
    font-family: $montserrat500;
    background-color: $colorSecondary;
    color: white;
    text-transform: uppercase;
    padding: $btnPadding;
    border-radius: $borderRadius;
    display: inline-block;
    line-height: 160%;
    text-align: center;
}