//colors
$colorPrimary: #4BC8E6;
$colorPrimaryTransparent: rgb(75, 200, 230, 0.1);
$colorSecondary: #6EC846;
$colorAccent: #255faa;
$colorError: #e71a5b;
$colorNeutral: #7e7e7e;
$colorNeutralDark: #343434;
$colorNeutralLight: #CECECE;
$colorNeutralVeryLight: rgb(232, 232, 232);
$colorWhiteTransparent10: rgba(255, 255, 255, 0.1);
$colorWhiteTransparent90: rgba(255, 255, 255, 0.9);
//spaces
$space1: 0.25rem;
$space2: 0.5rem;
$space3: 1rem;
$space4: 1.5rem;
$space5: 2rem;
$space6: 3rem;
$sizeContent: 1080px;
$sizeGutter: $space4;
$sizeGap: $space6;

//font sizes
$small: 12px;
$medium: 14px;
$mediumlarge: 16px;
$large: 20px;
$extraLarge: 32px;
$xxLarge: 52px;

//buttons
$btnPadding: 0.75rem 1.75rem;
$btnPaddingLarge: 1.25rem 3.75rem;
$borderRadius: .25rem;

//fonts
$montserrat: 'Montserrat', sans-serif;
$varela: 'Varela Round', sans-serif;
$tahu: 'Tahu', sans-serif;

//breakpoints
$mobile: "max-width: 360px";
$tabletS: "min-width: 500px";
$tablet: "min-width: 700px";
$desktopS: "min-width: 1000px";
$desktop: "min-width: 1200px"; 